<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--  Request notification permission to be able to show the foreground service notification  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name=".ComapeoCoreService"
            android:process=":ComapeoCore"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"/>
    </application>
</manifest>
